<div class="page--logo-title">
  <div class="page-logo">
    {% if page.title == 'Transportation' %}
      <img src="/SmartCityToolkit/assets/images/transportation.png" alt="Tranportation logo" title="Transportation">
    {% elsif page.title == 'Security' %}
      <img src="/SmartCityToolkit/assets/images/security.png" alt="Tranportation logo" title="Transportation">
    {% elsif page.title == 'IT Services' %}
      <img src="/SmartCityToolkit/assets/images/it-services.png" alt="Tranportation logo" title="Transportation">
    {% elsif page.title == 'Civic Engagement' %}
      <img src="/SmartCityToolkit/assets/images/civic engagement.png" alt="Tranportation logo" title="Transportation">
    {% elsif page.title == 'Housing' %}
      <img src="/SmartCityToolkit/assets/images/housing.png" alt="Tranportation logo" title="Transportation">
    {% elsif page.title == 'Infrastructure' %}
      <img src="/SmartCityToolkit/assets/images/infrastructure.png" alt="Tranportation logo" title="Transportation">
    {% elsif page.title == 'Intellectual Property' %}
      <img src="/SmartCityToolkit/assets/images/intellectual-property.png" alt="Tranportation logo" title="Transportation">
    {% elsif page.title == 'Emergency Management' %}
      <img src="/SmartCityToolkit/assets/images/emergency-management.png" alt="Tranportation logo" title="Transportation">
    {% elsif page.title == 'Municipal Administration' %}
      <img src="/SmartCityToolkit/assets/images/municipal-administration.png" alt="Tranportation logo" title="Transportation">
    {% elsif page.title == 'Parks and Recreation' %}
      <img src="/SmartCityToolkit/assets/images/parks-recreation.png" alt="Tranportation logo" title="Transportation">
    {% elsif page.title == 'Privacy' %}
      <img src="/SmartCityToolkit/assets/images/privacy.png" alt="Tranportation logo" title="Transportation">
    {% elsif page.title == 'Procurement' %}
      <img src="/SmartCityToolkit/assets/images/procurement.png" alt="Tranportation logo" title="Transportation">
    {% elsif page.title == 'Utilities' %}
      <img src="/SmartCityToolkit/assets/images/utilities.png" alt="Tranportation logo" title="Transportation">
    {% elsif page.title == 'Public Health' %}
      <img src="/SmartCityToolkit/assets/images/public-health.png" alt="Tranportation logo" title="Transportation">
    {% elsif page.title == 'Economic development culture' %}
      <img src="/SmartCityToolkit/assets/images/economic-development-culture.png" alt="Tranportation logo" title="Transportation">
    {% endif %}
  </div>
  
</div>