<div class="page--logo-title">
  <div class="page-logo">
    {% if page.title == 'Transportation' %}
      <img src="/assets/images/transportation.png" alt="Tranportation logo" title="Transportation">
    {% elsif page.title == 'Security' %}
      <img src="/assets/images/security.png" alt="Security logo" title="Security">
    {% elsif page.title == 'Information Technology Services' %}
      <img src="/assets/images/it-services.png" alt="IT Service logo" title="Information Technology Services">
    {% elsif page.title == 'Civic Engagement' %}
      <img src="/assets/images/civic-engagement.png" alt="Civic Engagement logo" title="Civic Engagement">
    {% elsif page.title == 'Housing' %}
      <img src="/assets/images/housing.png" alt="Housing logo" title="Housing">
    {% elsif page.title == 'Infrastructure' %}
      <img src="/assets/images/infrastructure.png" alt="Infrastructure logo" title="Infrastructure">
    {% elsif page.title == 'Intellectual Property' %}
      <img src="/assets/images/intellectual-property.png" alt="Intellectual Property logo" title="Intellectual Property">
    {% elsif page.title == 'Emergency Management' %}
      <img src="/assets/images/emergency-management.png" alt="Emergency Management logo" title="Emergency Management">
    {% elsif page.title == 'Municipal Administration' %}
      <img src="/assets/images/municipal-administration.png" alt="Municipal Administration' logo" title="Municipal Administration'">
    {% elsif page.title == 'Parks and Recreation' %}
      <img src="/assets/images/parks-recreation.png" alt="Parks and Recreation logo" title="Parks and Recreation">
    {% elsif page.title == 'Privacy' %}
      <img src="/assets/images/privacy.png" alt="Privacy logo" title="Privacy">
    {% elsif page.title == 'Procurement' %}
      <img src="/assets/images/procurement.png" alt="Procurement logo" title="Procurement">
    {% elsif page.title == 'Utilities' %}
      <img src="/assets/images/utilities.png" alt="Utilities logo" title="Utilities">
    {% elsif page.title == 'Public Health' %}
      <img src="/assets/images/public-health.png" alt="Public Health logo" title="Public Health">
    {% elsif page.title == 'Economic Development and Culture' %}
      <img src="/assets/images/economic-development-culture.png" alt="Economic Development and Culture logo" title="Economic Development and Culture">
    {% endif %}
  </div>
  
</div>