.page-content.with-sidebar {
    a {
        color: black;

    }
    .sidebar {
        .page-title {
          display: none;
        }
    }
    .page-logo {
        img {
            width: 10rem;
        }
    }
}
    
 