<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content homepage" aria-label="Content">
        
        <div class="wrapper homepage-intro">
          <h1>Smart Cities and Buildings</h1>
          <p>The concept of a smart city is not new, but it is still nascent and the definition remains quite heterogenous. 
            Broadly, a smart city is connected, intelligent and optimized by a municipality to reduce costs, increase safety, attract investment, 
            be sustainable, and enhance livability. To get there will require smart governance, the education of a smart workforce and smart
            citizens, the digital transformation of assets, and the deployment of sensor networks with ubiquitous multimodal connectivity.</p>
        </div>
        <div class="smart-city--image-map"> 
            
            <map id="smart-city--map" name="smart-city--map">
                <area class="infrastructure" href="/infrastructure.html" title="Infrastructure" alt="Infrastructure link" target="_blank" shape="rect" coords="120,450,280,660">
                <area class="public-health" href="/public-health.html" title="Public Health" alt="Public Health link" target="_blank" shape="rect" coords="120,740,320,980">
                <area class="housing" href="/housing.html" title="Housing" alt="Housing link" target="_blank" shape="rect" coords="">
                <area class="transportation-mobility" href="/transportation.html" title="Transportation and Mobility" alt="Transportation and Mobility link" target="_blank" shape="rect" coords="1195,900,1300,990">
                <area class="transportation-mobility" href="/transportation.html" title="Transportation and Mobility" alt="Transportation and Mobility link" target="_blank" shape="rect" coords="830,930,1040,1020">
                <area class="park-recreation" href="/park-recreation.html" title="Parks and Recreation" alt="Parks and Recreation link" target="_blank" shape="rect" coords="120,1080,1300,1300">
                <area class="economic-develop" href="/economic-development-culture.html" title="Economic Development and Culture" alt="Economic Development and Culture link" target="_blank" shape="rect" coords="920,700,1300,1300">
                <area class="municipal-administration" href="/municipal-administration.html" title="Municipal Administration" alt="Municipal Administration link" target="_blank" shape="rect" coords="">
                <area class="civic-engagement" href="/civic-engagment.html" title="Civic Engagment" alt="Civic Engagment link" target="_blank" shape="rect" coords="680,970,830,1100">
                <area class="information-technology" href="/information-technology.html" title="Information and Technology" alt="Information and Technology link" target="_blank" shape="rect" coords="">
                <area class="emergency-management" href="/emergency-managment.html" title="Emergency Managment" alt="Emergency Managment link" target="_blank" shape="rect" coords="260,880,490,1180">
                <area class="utitlies" href="/utitlies.html" title="Utitlies" alt="Utitlies link" target="_blank" shape="rect" coords="">
                <area class="privacy" href="/privacy.html" title="Privacy" alt="Privacy link" target="_blank" shape="rect" coords="">
                <area class="security" href="/security.html" title="Security" alt="Security link" target="_blank" shape="rect" coords="">
                <area class="inclusion" href="/inclusion.html" title="Inclusion" alt="Inclusion link" target="_blank" shape="rect" coords="">
                <area class="intellectual-property" href="/intellectual-property.html" title="Intellectual Property" alt="Intellectual property link" target="_blank" shape="rect" coords="">
                <area class="procurement" href="/procurement.html" title="Procurement" alt="Procurement link" target="_blank" shape="rect" coords="">

            </map>
            <img src="/SmartCityToolkit/assets/images/smart-city.png" alt="smart city link map" usemap="#smart-city--map">
            <img src="/smartcitytoolkit/SmartCityToolkit/assets/images/smart-city.png" alt="smart city link map" usemap="#smart-city--map">
        </div>
        <div class="footer-city-logos">
          <div class="wrapper">
            <a href="/privacy.html"><img src="/SmartCityToolkit/assets/images/privacy.png" title="Privacy" alt="privacy icon link"></a>
            <a href="/security.html"><img src="/SmartCityToolkit/assets/images/security.png" title="Security" alt="Security icon link"></a>
            <a href="/inclusion.html"><img src="/SmartCityToolkit/assets/images/inclusion.png" title="Inclusion" alt="Inclusion icon link"></a>
            <a href="/intellectual-property.html"><img src="/SmartCityToolkit/assets/images/intellectual-property.png" title="Intellectual property" alt="Intellectual property icon link"></a>
            <a href="/procurement.html"><img src="/SmartCityToolkit/assets/images/procurement.png" title="Procurement" alt="Procurement icon link"></a>
          </div>
        </div>

      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
