<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content homepage" aria-label="Content">
        
        <div class="wrapper homepage-intro">
          <h1>Smart Cities and Buildings</h1>
          <p>The concept of a smart city is not new, but it is still nascent and the definition remains quite heterogenous. 
            Broadly, a smart city is connected, intelligent and optimized by a municipality to reduce costs, increase safety, attract investment, 
            be sustainable, and enhance livability. To get there will require smart governance, the education of a smart workforce and smart
            citizens, the digital transformation of assets, and the deployment of sensor networks with ubiquitous multimodal connectivity.</p>
        </div>
        <div class="smart-city--image-map"> 
            
            <map id="smart-city--map" name="smart-city--map">

                <area class="utitlies1" href="/utitlies.html" title="Utitlies" alt="Utitlies link" shape="poly" coords="260,350,570,350,570,500,260,600">
                <area class="housing" href="/housing.html" title="Housing" alt="Housing link" shape="poly" coords="120,640,620,500,620,740,120,740">
                <area class="public-health" href="/public-health.html" title="Public Health" alt="Public Health link" shape="poly" coords="120,740,330,740,330,880,280,880,280,980,120,980">
                <area class="emergency-management" href="/emergency-managment.html" title="Emergency Managment" alt="Emergency Managment link" shape="rect" coords="260,880,490,1030">
                <area class="municipal-administration" href="/municipal-administration.html" title="Municipal Administration" alt="Municipal Administration link" shape="poly" coords="620,430,780,430,780,880,500,880,500,770,570,770">
                <area class="utitlies2" href="/utitlies.html" title="Utitlies" alt="Utitlies link" shape="rect" coords="490,880,720,1010">
                <area class="infrastructure" href="/infrastructure.html" title="Infrastructure" alt="Infrastructure link" shape="rect" coords="790,800,850,870">
                <area class="civic-engagement" href="/civic-engagment.html" title="Civic Engagment" alt="Civic Engagment link" shape="rect" coords="680,970,830,1100">
                <area class="park-recreation" href="/park-recreation.html" title="Parks and Recreation" alt="Parks and Recreation link" shape="rect" coords="120,1080,1300,1300">
                <area class="transportation-mobility" href="/transportation.html" title="Transportation and Mobility" alt="Transportation and Mobility link" shape="rect" coords="830,930,1040,1020">
                <area class="transportation-mobility" href="/transportation.html" title="Transportation and Mobility" alt="Transportation and Mobility link" shape="rect" coords="1195,900,1300,990">
                <area class="information-technology" href="/information-technology.html" title="Information and Technology" alt="Information and Technology link" shape="poly" coords="1140,250,1220,250,1220,800,1140,750">
                <area class="utitlies3" href="/utitlies.html" title="Utitlies" alt="Utitlies link" shape="rect" coords="1100,300,1300,800">
                <area class="economic-develop" href="/economic-development-culture.html" title="Economic Development and Culture" alt="Economic Development and Culture link" shape="poly" coords="800,250,1130,250,1130,750,1300,750,1300,1000,900,1000">
                
                
            </map>
            <img src="/SmartCityToolkit/assets/images/smart-city.png" alt="smart city link map" usemap="#smart-city--map">
            
        </div>
        <div class="footer-city-logos">
          <div class="wrapper">
            <a href="/privacy.html"><img src="/SmartCityToolkit/assets/images/privacy.png" title="Privacy" alt="privacy icon link"><span>Privacy</span></a>
            <a href="/security.html"><img src="/SmartCityToolkit/assets/images/security.png" title="Security" alt="Security icon link"><span>Security</span></a>
            <a href="/inclusion.html"><img src="/SmartCityToolkit/assets/images/inclusion.png" title="Inclusion" alt="Inclusion icon link"><span>Inclusion</span></a>
            <a href="/intellectual-property.html"><img src="/SmartCityToolkit/assets/images/intellectual-property.png" title="Intellectual property" alt="Intellectual property icon link"><span>Intellectual Property</span></a>
            <a href="/procurement.html"><img src="/SmartCityToolkit/assets/images/procurement.png" title="Procurement" alt="Procurement icon link"><span>Procurement</span></a>
          </div>
        </div>

      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
